In [ ]:
Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

#answar:

(i) "vivek"
(ii) [1,2,3,4, 'vivek' , 45.4545, true, false]
(iii) 45.6546
(iv)  (10,20,30)

In [ ]:
Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [ ]:
#answar:

(i)   var1 = String
(ii)  var2 = String
(iii) var3 = List
(iv)  var4 = Float

In [ ]:
Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [ ]:
#answar:
(i)	/ = Division operator

(ii)	%  = Modulus operator

(iii)	// = Floor division operator

(iv)	* = Miltiplication operator

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [7]:
#answar:

a= 40,50,60,70, 'vivek' , 'subh' , 45.45, 55.45, (30,40,50) , 5+4j, 
for i in a:
     print(f"Element: {i}, Data Type: {type(i)}")

Element: 40, Data Type: <class 'int'>
Element: 50, Data Type: <class 'int'>
Element: 60, Data Type: <class 'int'>
Element: 70, Data Type: <class 'int'>
Element: vivek, Data Type: <class 'str'>
Element: subh, Data Type: <class 'str'>
Element: 45.45, Data Type: <class 'float'>
Element: 55.45, Data Type: <class 'float'>
Element: (30, 40, 50), Data Type: <class 'tuple'>
Element: (5+4j), Data Type: <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [3]:
#answar:

a = 216 
b = 6
count= 0

while a%b == 0:
    a = a // b
    count += 1

if a == 1:
    print( " 'a' is purely divisible by 'b' ")
    print(" it can be divided" , count , " times by 'b' ")
    
else:
       print(" 'a' is not purely divisible by 'b'")

 'a' is purely divisible by 'b'
 it can be divided 3  times by 'b'

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [5]:
# answar:

my_list = [15, 7, 9, 4, 18, 27, 36, 42, 5, 10, 21, 30, 14, 8, 11, 25, 33, 22, 6, 12, 17, 20, 24, 39, 45]


for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

15 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
4 is not divisible by 3
18 is divisible by 3
27 is divisible by 3
36 is divisible by 3
42 is divisible by 3
5 is not divisible by 3
10 is not divisible by 3
21 is divisible by 3
30 is divisible by 3
14 is not divisible by 3
8 is not divisible by 3
11 is not divisible by 3
25 is not divisible by 3
33 is divisible by 3
22 is not divisible by 3
6 is divisible by 3
12 is divisible by 3
17 is not divisible by 3
20 is not divisible by 3
24 is divisible by 3
39 is divisible by 3
45 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

#answar:

Mutable Data Types:

1.Mutable data types are those whose values can be changed after they are created.
2.When you modify a mutable object, you are actually modifying the same object in memory.

Examples of mutable data types : ( lists, dictionaries, and sets )



Immutable Data Types:

1.Immutable data types are those whose values cannot be changed after they are created.
2.When you perform operations that seem to modify an immutable object, you are actually creating a new object in memory.

Examples of immutable data types : ( floats, strings, tuples )